<div style="text-align: right;"><i class="material-icons" >open_in_new</i></div>
<h2 mat-dialog-title>{{data.Name}}</h2>
<mat-dialog-content class="mat-typography">

  <h3>Description</h3>
  <p>{{data.Description}}</p>

  <h3>Images</h3>

  <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <ng-container *ngFor="let path of data.imgCarousel; index as i">
        <div class="carousel-item" [ngClass]="{ 'active' : i == 0}">
          <img [src]="path.Image_Path" class="d-block w-100" alt="..." style="max-width: 700px;">
        </div>
      </ng-container>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>

</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Close</button>
</mat-dialog-actions>
